.empty {
  text-indent: -9999px;
  height: 75px;
  background: url(img/headlines/empty.png) transparent no-repeat;
  background-size: contain;
}

/* HIGHLIGHT */

.highlight{
  color : $white;
  -webkit-text-stroke: 0.5px $custcol;
}

.highlight2{
  color : $custcol;
  /*background: -webkit-linear-gradient(to right, rgba(250, 50, 21, 1.0), white);*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2.0px rgba(250, 50, 21, 1.0);;
}

.highlight3{
  font-size: 30px;
  color : $white;
  -webkit-text-stroke: 0.5px $custcol;
}

.caption{
  color : $headline;
  -webkit-text-stroke: 0.5px $custcol;
  text-align: center;
}

.lyrics {
  color : $custcol;
}

.featuresection{
  margin-bottom: 4em;
  border-bottom: 2px dotted $primary;
}

.featurewrapper{
  margin-bottom: 5px;
  padding-left: 1em;
}

.featurehighlight{
  color: $headline;
  margin-bottom: 5px;
  text-decoration: underline;
}

.commandwrapper{
  margin-bottom: 1em;
  padding-left: 0.5em;
  font-size: 12px;
}

.commandhighlight{
  color: $headline;
}

.newtag{
  font-size: 12px;
  color: red;
  -webkit-text-stroke: 1px $custcol;
}

.infonotice{
  font-size: 12px;
  color: $custcol;
  -webkit-text-stroke: 0.2px red;
}

.spanlist{
  display: list-item;
  margin-left: 2em;
  b{
    color: $headline;
  }
  b.install{
    color: $custcol;
  }
  b.normal{
    color: #6e6e6e;
  }
}

.featurelist{
  font-size: 20px;
  color : $white;
  -webkit-text-stroke: 0.5px $custcol;
  li{
    font-size: 15px;
    padding-left: 5px;
    color: $blogcol;
    -webkit-text-stroke: 0 $custcol;
  }
  b{
    color: #a00c0c;
    -webkit-text-stroke: 0.5px black;
  }
}
