/*
!/.gitignore

/Scoutapp
/backup/*
/.presets/*

!/audio
!/css
!/fonts
!/img
!/js
!/pages
!/scss

!/gulpfile.js
!/index.html
!/licence
!/package.json
!/package-lock.json
!/style.css
!/style.css.map
!/style.map
!/404.css
!/404.md