/*
!/.gitignore

/Scoutapp
/backup/*
/.presets/*
/pages/old
/img/headlines/DivergenceInput-1.0.exe

!/audio
!/css
!/fonts
!/img
!/js
!/pages
!/scss
!/video

!/gulpfile.js
!/index.html
!/licence
!/package.json
!/package-lock.json
!/style.css
!/style.css.map
!/style.map
!/404.css
!/404.html
/404.md