@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:700";

body {
	background-color: #000;
	height: 100%;
	margin: 0;
}

@media (width: 100vw){
	.container-full{
	  position: absolute;
	  width: 100vw;
	  height: 100vh;
		padding-left: 0;
	  left: 0;
	  top: 0;
	}
	.video-container {
		display: block;
	}
	.fixbottom {
		position: fixed;
		padding-left: 18%;
		width: 100vw;
	}
	.video_overlay p{
		font-size: 24px;
	}
	.backlink img{
		width: auto;
		max-width: 70%;
		height: auto;
		max-height: 70%;
	}
}

@media (min-aspect-ratio: 11/16){
	.video-container {
		display: block;
	}
	.fixbottom {
		position: fixed;
		padding-left: 18%;
		width: auto;
	}
	.backlink img{
		width: auto;
		max-width: 60%;
		height: auto;
		max-height: 60%;
	}
}
@media (max-aspect-ratio: 5/3){
	.video-container {
		display: block;
	}
	.fixbottom {
		position: fixed;
		padding-left: 18%;
		width: auto;
	}
	.video_overlay p{
		font-size: 16px;
	}
	.backlink img{
		width: auto;
		max-width: 60%;
		height: auto;
		max-height: 60%;
	}
}

@media (max-aspect-ratio: 16/11){
	.video-container {
		display: none;
	}
	.fixbottom {
		position: fixed;
		padding-left: 18%;
		width: auto;
	}
	.backlink img{
		width: auto;
		max-width: 80%;
		height: auto;
		max-height: 80%;
	}
}

@media (min-aspect-ratio: 16/10){
	.video-container {
		display: block;
	}
	.fixbottom {
		position: absolute;
		width: 100vw;
		padding-left: 25%;
	}
	.video_overlay p{
		font-size: 24px;
	}
	.backlink img{
		width: auto;
		max-width: 70%;
		height: auto;
		max-height: 70%;
	}
}

@media (aspect-ratio: 16/9){
	.container-full{
	  position: absolute;
	  width: 100%;
	  height: 100%;
		padding-left: 0;
	  left: 0;
	  top: 0;
	}
	.video-container {
		display: block;
	}
	.fixbottom {
		position: fixed;
		width: 100vw;
		padding-left: 18%;
	}
	.backlink img{
		width: auto;
		max-width: 70%;
		height: auto;
		max-height: 70%;
	}
}

.video-container {
	position: absolute;
	width: 22vw;
	z-index: 25;
	overflow: hidden;
	border: 6px solid #ccc;
	margin: 5vw;
	padding: 0px;
	background-color: black;
}

video {
	height: 100%;
	width: 100%;
	overflow: hidden;
	margin-bottom: -7px;
}

.video_overlay{
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	z-index:25;
	background-color: rgba(198, 234, 235, 0.7);
}

.video_overlay p{
	text-align: center;
	margin: 0px;
	font-style: oblique;
	font-family: fantasy;
	color: white;
	text-shadow: 1px 1px 3px black;
}

.backlink{
	position: absolute;
	z-index: 50;
	bottom: 5vh;
	right: 10vw;
}

.backlink img{
	position: static;
	display: block;
	margin-left: 0;
	margin-right: 0;
	bottom: 0;
}

.overlaybk {
	position: fixed;
	width: 100%;
	height: 100%;
	padding-left: 0;
	top: 0;
	background: rgba(51, 51, 51, 0.7);
	z-index: 10;
	background: url(img/bg-img/404img.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.overlayft {
	position: fixed;
	width: 100%;
	height: 100%;
	padding-left: 0;
	top: 0;
	z-index: 20;
	background: url(img/bg-img/tvlines.png);
	opacity: 0.05;
	background-repeat: no-repeat;
	background-size: cover;
}

.fixbottom {
	z-index: 5;
	bottom: 0;
	margin: 0;
	height: auto;
}

.fixbottom img { /* GRÖSSE BEI HANDY */
	position: static;
	display: block;
	margin-left: 0;
	margin-right: 0;
	bottom: 0;
	width: auto; /*45%;*/
	max-width: 100%;
	height: auto;
	max-height: 100%;
}

.over404 {
	overflow: hidden;
	position: relative;
	z-index: 40;
	background-size: cover;
	margin: 0 auto;
	height: 100vh;
	/*background-color: rgba(31, 11, 49, 0.25);*/
	-webkit-animation: glitch 2s step-end infinite;
	-moz-animation: glitch 2s step-end infinite;
	animation: glitch 2s step-end infinite;
}

.over404 header {
	padding: 0;
	z-index: 50;
	position: absolute;
	top: 18%;
	left: 70%;
  background-color: rgba(33, 18, 53, 0.25); /*HintergrundFarbe */
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border: 6px solid #ccc;
	margin: auto;
	padding: 15px 10px;
}

.over404 header h1 {
	font-size: 6rem;
	font-weight: 700;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	color: #fff;
	letter-spacing: .8px;
	text-transform: uppercase;
}

@media only screen and (min-width: 567px) {
	/*.over404 header h1 {*/
  .glitch {
		font-size: 15rem;
	}
}

/*GliTch*/
.glitch {
	color: white;
  font-size: 10rem;
	font-weight: 700;
  letter-spacing: .8px;
	font-family: 'Source Sans Pro', sans-serif;
	position: relative; /*fixed;*/
	width: 400px;
  margin-left: 15%;
	color: #fff;
	letter-spacing: .8px;
	text-transform: uppercase;
}

@keyframes noise-anim {
	0% {
		clip-path: inset(74% 0 27% 0);
	}

	5% {
		clip-path: inset(92% 0 2% 0);
	}

	10% {
		clip-path: inset(75% 0 9% 0);
	}

	15% {
		clip-path: inset(91% 0 9% 0);
	}

	20% {
		clip-path: inset(25% 0 5% 0);
	}

	25% {
		clip-path: inset(31% 0 26% 0);
	}

	30% {
		clip-path: inset(77% 0 16% 0);
	}

	35% {
		clip-path: inset(73% 0 27% 0);
	}

	40% {
		clip-path: inset(21% 0 69% 0);
	}

	45% {
		clip-path: inset(4% 0 17% 0);
	}

	50% {
		clip-path: inset(45% 0 42% 0);
	}

	55% {
		clip-path: inset(76% 0 17% 0);
	}

	60% {
		clip-path: inset(20% 0 11% 0);
	}

	65% {
		clip-path: inset(81% 0 2% 0);
	}

	70% {
		clip-path: inset(38% 0 10% 0);
	}

	75% {
		clip-path: inset(61% 0 7% 0);
	}

	80% {
		clip-path: inset(48% 0 10% 0);
	}

	85% {
		clip-path: inset(53% 0 8% 0);
	}

	90% {
		clip-path: inset(33% 0 47% 0);
	}

	95% {
		clip-path: inset(70% 0 6% 0);
	}

	100% {
		clip-path: inset(26% 0 2% 0);
	}
}

.glitch::after {
	content: attr(data-text);
	position: absolute;
	left: 2px;
	text-shadow: -1px 0 red;
	top: 0;
	color: white;
	background: transparent;
	overflow: hidden;
	animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
	0% {
		clip-path: inset(22% 0 53% 0);
	}

	5% {
		clip-path: inset(63% 0 35% 0);
	}

	10% {
		clip-path: inset(33% 0 30% 0);
	}

	15% {
		clip-path: inset(70% 0 10% 0);
	}

	20% {
		clip-path: inset(48% 0 20% 0);
	}

	25% {
		clip-path: inset(37% 0 30% 0);
	}

	30% {
		clip-path: inset(30% 0 5% 0);
	}

	35% {
		clip-path: inset(27% 0 10% 0);
	}

	40% {
		clip-path: inset(75% 0 13% 0);
	}

	45% {
		clip-path: inset(58% 0 6% 0);
	}

	50% {
		clip-path: inset(69% 0 7% 0);
	}

	55% {
		clip-path: inset(16% 0 27% 0);
	}

	60% {
		clip-path: inset(3% 0 23% 0);
	}

	65% {
		clip-path: inset(21% 0 17% 0);
	}

	70% {
		clip-path: inset(39% 0 41% 0);
	}

	75% {
		clip-path: inset(3% 0 8% 0);
	}

	80% {
		clip-path: inset(26% 0 71% 0);
	}

	85% {
		clip-path: inset(80% 0 17% 0);
	}

	90% {
		clip-path: inset(89% 0 3% 0);
	}

	95% {
		clip-path: inset(53% 0 15% 0);
	}

	100% {
		clip-path: inset(5% 0 57% 0);
	}
}

.glitch::before {
	content: attr(data-text);
	position: absolute;
	left: -2px;
	text-shadow: 1px 0 blue;
	top: 0;
	color: white;
	background: transparent;
	overflow: hidden;
	animation: noise-anim-2 15s infinite linear alternate-reverse;
}
